# Binaries
/sample-go-web-server

# Go-specific files
*.out
*.exe
*.test
*.log

# Dependency directories
/vendor/
Gopkg.lock
Gopkg.toml
/go.sum
/go.mod

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
*.tmp
.DS_Store

# Build artifacts
build/
bin/
obj/

# Coverage files
*.cov

# Environment variables
.env

# Miscellaneous
*.json

# Others
*.log
*.lock
*.tmp
*.pid

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc